:root{
    /*Para las estrellas se establecerá una posición propia a cada una*/
    --smallStars:
        radial-gradient(2px 2px at 20% 30%, #ffffffaa, transparent 50%),
        radial-gradient(2px 2px at 70% 20%, #ffffffaa, transparent 50%);

    --mediumStars:
        radial-gradient(2.5px 2.5px at 30% 40%, #ffffff88, transparent 50%),
        radial-gradient(2.5px 2.5px at 80% 70%, #ffffff88, transparent 50%),
        radial-gradient(2.5px 2.5px at 55% 10%, #ffffff88, transparent 50%),
        radial-gradient(2.5px 2.5px at 30% 40%, #ffffffaa, transparent 50%);

    --bigStars:
        radial-gradient(3px 3px at 50% 50%, #ffffff66, transparent 60%),
        radial-gradient(3px 3px at 25% 75%, #ffffff66, transparent 60%),
        radial-gradient(3px 3px at 85% 35%, #ffffff66, transparent 60%),
        radial-gradient(3px 3px at 70% 60%, #ffffff66, transparent 60%),
        radial-gradient(3px 3px at 55% 70%, #ffffff66, transparent 60%);
}

body{
    margin: 0;
    font-family: 'Outfit', sans-serif;
}


body, div {
    box-sizing: border-box;
}


.desktop-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;


    background: 
        var(--smallStars),
        var(--mediumStars),
        var(--bigStars),
    
        linear-gradient(
            135deg,
            #040813 0%,
            #07112b 25%,
            #0c1c47 50%,
            #1b336a 80%,
            #2f4d93 100%
        );

    background-size: 140% 140%; /*Para animar*/
    animation: space 35s linear infinite;

    z-index: -1;
}


@keyframes space {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 30% 70%;
    }
    50% {
        background-position: 80% 40%;
    }
    75% {
        background-position: 40% 90%;
    }
    100% {
        background-position: 0% 50%;
    }
}






.icon-grid{
    display: grid;
    grid-template-columns: repeat(2, 90px);
    padding: 12px;
    gap: 12px;
}


.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 90px;
    padding: 5px;
    cursor: pointer;

    border-radius: 10px;
    z-index: 2;

    transition: background-color 0.16s, border-radius 0.06s ease;
}


.icon:hover{
    background-color: rgba(190, 190, 190, 0.429);
    border-radius: 14px;
}

.icon img {
    width: 64px;
    height: 64px;
    image-rendering: pixelated;
}

.icon span{
    font-size: 0.9rem;
    color: #fff;
}


.window {
    width: clamp(340px, 65vw, 600px);  
    height: 400px;
    background-color: #CFCFCF;
    border-radius: 14px;

    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;

    position: fixed;
    top: 50%;
    left: 50%;
}

.button-container{
    background-color: #0f225fad;
    width: 100%;
    height: 28px;

    display: flex;
    justify-content: end;

    border-radius: 14px 14px 0 0;
}

.button-container button{
    font-size: 1.2rem;
    width: 40px;
    color: #c1bebe;
    border-radius: 0 14px 0 0;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;

    cursor: pointer;
    transition: color 0.16s ease, background-color 0.16s;

}

.button-container button:hover{
    color: #FFFFFF;
    background-color: rgba(185, 43, 43, 0.916);
}


.dock{
    background: rgba(6, 9, 23, 0.55); 
    border-top: 1px solid rgba(100, 150, 255, 0.3);
    width: 100%;
    height: 55px;
    padding: 0 10px;
    position: fixed;
    bottom: 0;
    z-index: 20;

    display: flex;
    flex-direction: row;
    gap: 12px;
}

.dock:has(.icon) .icon {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0;
}

.dock:has(.icon) .icon img{
    object-fit: cover;
    width: 40px;
    height: 40px;
    image-rendering: pixelated;
}

