body, div {
    box-sizing: border-box;
}

body{
    background-color: #0002;
    margin: 0;
}


.icon-grid{
    display: grid;
    grid-template-columns: repeat(2, 80px);
}


.icon {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    cursor: pointer;

    border: 2px solid rgba(0, 0, 0, 0.429);
    z-index: 1;
}

.icon img {
    width: 64px;
    height: 64px;
    background: rgba(255,255,255,0.1);
    image-rendering: pixelated;
}


.window {
    width: clamp(340px, 65vw, 600px);  
    height: 400px;
    background-color: blueviolet;

    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.button-container{
    background-color: rgba(40, 39, 39, 0.379);
    width: 100%;
    height: 28px;

    display: flex;
    justify-content: end;
}

.button-container button{
    font-size: 1.2rem;
    width: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;

    cursor: pointer;
}


.dock{
    background-color: rgba(0, 0, 0, 0.164);
    width: 100%;
    height: 64px;
    padding: 0 10px;
    position: fixed;
    bottom: 0;
    z-index: 20;
}

.dock:has(.icon) .icon {
    width: 60px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dock:has(.icon) .icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

